/*Phone*/

*{
    font-family: 'Lora', serif;
}

/*Homepage*/
.OtiumLogo {
    width: 40%;
    position: static;
}

.welcome{
    font-size: larger;
    position: static;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.lobbyImg {
    width: 100%;
    background-image: url(images/lobby.jpg);
    position: static;
}

.homepage li {
    list-style: none;
}


.roomNav{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNav{
    position: absolute;
    left:65%;
    top:9%;
}

.homepage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white; 
    text-decoration: none;
    position: static;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}

.logoMenu {
    height: 3px;
    width: 30px;
    background-color:black;
}

.imgStartsida{
    width: 100%;
    position: static;
}

.h2B{ 
    font-size:larger;
    position: static;
    margin-left: 12%;
    font-family: 'Lora', serif;
}

.h3A{
    font-size:medium;
    position: static;
    margin-left:12%;
}

.textDec{
    width: 80%;
    line-height: 160%;
    position: static;
    margin-left: 12%;
}


.homepageC{
    position: static;
}

 .footerHome{
    position: static;
} 

.emailH{
    display: flex;
    gap: 2%;
}

.phoneH{
    display: flex;
    gap: 2%;
}

.topHome{
    position: fixed;
    width: 5%;
    bottom: 5%;
    right: 14%;
}

.copyH{
    position: static;
    text-align: center;
}

/*Roompage*/

.roomsH1{
    font-size: larger;
    position: static;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.roompage li {
    list-style: none;
}


.roomNavRoom{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNavRoom{
    position: absolute;
    left:65%;
    top:9%;
}

.roompage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 8%;
    right: 3%;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}

.OtiumLogoRoom {
    width: 40%;
    position: static;
}

.video{
    width: 100%;
    position: static;
}

.allRooms{
    position: static;
}

.allRooms a{
    text-decoration: none;
    color: black;
    font-size: large;
    border-radius: 10%;
    background-color: rgb(193, 187, 187);
}

.room1{
    line-height: 160%;
}

.room2{
    line-height: 160%;
}

.room3{
    line-height: 160%;
}

.room4{
    line-height: 160%;
}

#rubrikRoom{
    position: static;
    text-align: center;
    font-size:larger;
}

.img1{
    width: 100%;
}

.img2{
    width: 100%;
}

.img3{
    width: 100%;
}

.img4{
    width: 100%;
}

.roomTextC{
    position: static;
}

.roompage footer{
    position: static;
}

.emailR{
    display: flex;
    gap: 2%;
}

.phoneR{
    display: flex;
    gap: 2%;
}

.topRoom{
    position: fixed;
    width: 5%;
    bottom: 5%;
    right: 14%;
}

.copyR{
    position: static;
    text-align: center;
}

/*Contactpage*/

.contactH1{
    font-size: larger;
    position: static;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.contactpage li {
    list-style: none;
}


.roomNavContact{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNavContact{
    position: absolute;
    left:65%;
    top:9%;
}

.contactpage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 8%;
    right: 3%;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}


.OtiumLogoContact {
    width: 40%;
    position: static;
}


.contact {
    position: static;
}

.infoContact{
    position: static;
}

.h2C{
    position: static;
    margin-left: 13%;
    font-size: larger;
}

.h3C{
    font-size: medium;
    position: static;
    margin-left: 13%;
}

.textContact{ 
    width: 80%;
    line-height: 160%;
    position: static;
    margin-left: 13%;
}


.hotelImg{
    width: 100%;
    position: static;
}

.contactText{
    position: static;
}

.contactpage footer{
    position: static;
}

 .emailC{
    display: flex;
    gap: 2%;
}

.phoneC{
    display: flex;
    gap: 2%;
} 

.adressC{
    display: flex;
    gap: 2%;
}


.topContact{
    position: fixed;
    width: 5%;
    bottom: 5%;
    right: 14%;
}

.copyC{
    position: static;
    text-align: center;
}


/*Desktop*/
@media screen and (min-width: 800px){

    /*Homepage*/
    .OtiumLogo {
        width: 15%;
        position: absolute;
        top: 4vh;
        left: 0%;
    }

    .lobbyImg{
        position: relative;
        bottom: -7vh;
        right: 0%;
    }

    .homepage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
        
    }
    
    .homepage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .welcome{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 0%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    
    .imgStartsida{
        width: 50%;
        position: absolute;
        top: 143vh;
        left: 49%;
    }

    .menuNav {
        display: none;
    }

    
    
    .h2B{
        position: absolute;
        top: 136vh;
        left: 3%;
       /* position: relative;
        bottom: -15vh;
        right: -5%;*/
    }

    .h3A{
        position: absolute;
        top: 140vh;
        left: -10%;
    }
    
    .textDec{
        width: 45%;
        line-height: 180%;
        position: absolute;
        top: 145vh;
        right: 53%;
    }

    .footerHome{
        position: relative;
        top: 62vh;
        left: 1%;
    }
    
    .topHome{
        position: fixed;
        top: 75vh;
        left: 95%;
    }

    .roomNav{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .homepageC{
        position: absolute;
        left:0%;
        bottom:4vh;
    }

    .contactNav{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .homepage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }

    /*Roompage*/
    .OtiumLogoRoom {
        width: 15%;
        position: absolute;
        top: 2vh;
        left: 0%;
    }


    .roompage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
    }
    
    .roompage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .roomsH1{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 0%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    .roomNavRoom{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .contactNavRoom{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .roompage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }

    .video{
        width: 100%;
        position: relative;
        top: 5vh;
        right: 0%;
    }

    #rubrikRoom{
        position: relative;
        top: 1vh;
        left: 0%;
        font-size:larger;
    }

    .allRooms{
        position: relative;
        top: 10vh;
        left: 0%;
    }

    .img1{
        width: 60%;
    }
    
    .img2{
        width: 60%;
    }
    
    .img3{
        width: 60%;
    }
    
    .img4{
        width: 60%;
    }

    .room1, .room2, .room3, .room4 {
        width: 40%;
    }

    .roomTextC{
        position: absolute;
        bottom: 4vh;
        left: 0%;
    }
    
    .roompage footer{
        position: static;/**/
        margin-top: 5%;
        /*position: absolute;
        top: 535vh;
        left: 1%;*/
    }
    
    .topRoom{
        position: fixed;
        top: 75vh;
        left: 95%;
    }
    

    /*Contactpage*/
    .OtiumLogoContact {
        width: 15%;
        position: absolute;
        top: 2vh;
        left: 0%;
    }

    .hotelImg{
        position: absolute;
        top: 20vh;
        left: 0%;
    }

    .contactpage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
    }
    
    .contactpage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .contactH1{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 0%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    .roomNavContact{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .contactNavContact{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .contactpage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }

    .h2C{
        font-size:larger;
        position: relative;
        top: 15%;
        left: 30%;
    }

    .h3C{
        position: relative;
        top: 25%;
        left: -11%;
    }

    .textContact{
        width: 45%;
        position: relative;
        top: 35%;
        left: -11%;
    }

    .infoContact{
        position: relative;
        top: 130vh;
        right: 1%;
    }

    .contact{
        position: relative;
        top: 130vh;
        left: 0.5%;
    }

    .contactText{
        position: absolute;
        bottom: 9vh;
        left: 0%;
    }

    .contactpage footer{
        position: absolute;
        top: 310vh;
        left: 1%;
    }

    .topContact{
        position: fixed;
        top: 75vh;
        left: 95%;
    }

    .contactpage footer {
        position: static;
        margin-top: 65%;
    }
    
    
}