/*Phone*/

/*Every contact us must go up more in form size*/

/**{
    background-color:rgb(105, 70, 34);
}*/

/*Homepage right logo*/
.OtiumLogo {
    width: 40%;
    position: relative;
    bottom: 12vh;
    right: 0%;
}

.welcome{
    font-size: larger;
    position: relative;
    top:30%;
    left: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
/*right one*/
.lobbyImg {
    width: 100%;
    background-image: url(images/lobby.jpg);
    position: relative;
    bottom: 8vh;
    right: 0%;
}

.homepage li {
    list-style: none;
}


.roomNav{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNav{
    position: absolute;
    left:65%;
    top:9%;
}

.homepage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 8%;
    right: 3%;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}

.logoMenu {
    height: 3px;
    width: 30px;
    background-color:black;
}
/*not right*/
/*.imgStartsida{
    width: 100%;
    position: absolute;
    top: 125vh;
    left: 0%;
}*/

/*right*/
.imgStartsida{
    width: 100%;
    position: relative;
    top: 70vh;
    left: 0%;
}

.h2B{ 
    font-size:larger;
    position: relative;
    top: 47vh;
    left: 16%;
    font-family: 'Lora', serif;
}

.h3A{
    font-size:medium;
    position: relative;
    top: 49vh;
    left: 9%;
}

.textDec{
    width: 80%;
    line-height: 160%;
    position: absolute;
    top: 66vh;
    right: 9%;
}

/*trying ideas*/

/*.lobbyImg {
    width: 100%;
    background-image: url(images/lobby.jpg);
    position: relative;
    bottom: 35vh;
    right: 0%;
}

.OtiumLogo {
    width: 40%;
    position: relative;
    bottom: 38vh;
    right: 0%;
}

.h2B{ 
    font-size:larger;
    position: relative;
    top: 42vh;
    left: 16%;
    font-family: 'Lora', serif;
}

.h3A{
    font-size:medium;
    position: relative;
    top: 40vh;
    left: 9%;
}

.textDec{
    width: 80%;
    line-height: 160%;
    position: absolute;
    top: 56vh;
    right: 9%;
}

.homeSec{
    position: relative;
    top: 1vh;
    right: 0%;
}

.imgStartsida{
    width: 100%;
    position: relative;
    top: 108vh;
    left: 0%;
}*/

/*.homepageC{
    position: absolute;
    bottom: 5vh;
    left: 0%;
}

.footerHome{
    position: absolute;
    top: 167vh;
    left: 2%;
}

.topHome{
    position: absolute;
    top: 175vh;
    left: 2%;
}*/

.homepageC{
    position: relative;
    bottom: 1vh;
    left: 0%;
}

.footerHome{
    position: relative;
    top: 70vh;
    left: 2%;
}

.topHome{
    position: relative;
    top: 68vh;
    left: 2%;
}

/*Roompage*/

.roomsH1{
    font-size: larger;
    position: relative;
    top:30%;
    left: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.roompage li {
    list-style: none;
}


.roomNavRoom{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNavRoom{
    position: absolute;
    left:65%;
    top:9%;
}

.roompage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 8%;
    right: 3%;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}

.OtiumLogoRoom {
    width: 40%;
    position: absolute;
    top: 8vh;
    left: 0%;
}

.video{
    width: 100%;
    position: absolute;
    top: 22vh;
    right: 0%;
}

.allRooms{
    position: relative;
    top: 48vh;
}

#rubrikRoom{
    font-family: 'Lora', serif;
    position: relative;
    top: 1vh;
    left: 25%;
    font-size:larger;
}

.img1{
    width: 100%;
}

.img2{
    width: 100%;
}

.img3{
    width: 100%;
}

.img4{
    width: 100%;
}

/*.roomTextC{
    position: absolute;
    bottom: 4vh;
    left: 0%;
}

.roompage footer{
    position: absolute;
    top: 310vh;
    left: 2%;
}

.topRoom{
    position: absolute;
    top: 320vh;
    left: 2%;
}*/

.roomTextC{
    position: relative;
    bottom: 0vh;
    left: 0%;
}

.roompage footer{
    position: relative;
    top: 42vh;
    left: 2%;
}

.topRoom{
    position: relative;
    top: 40vh;
    left: 2%;
}

/*Contactpage*/

.contactH1{
    font-size: larger;
    position: relative;
    top:30%;
    left: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.contactpage li {
    list-style: none;
}


.roomNavContact{
    position: absolute;
    left:45%;
    top: 9%;
}

.contactNavContact{
    position: absolute;
    left:65%;
    top:9%;
}

.contactpage li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 0, 0);
}

#menuButton {
    background-color: white;
    text-decoration: none;
    position: absolute;
    top: 8%;
    right: 3%;
    border: none;
    outline: none;
}

.menuNav{
    display: none;
}


.OtiumLogoContact {
    width: 40%;
    position: absolute;
    top: 8vh;
    left: 0%;
}


.contact {
    position: relative;
    top: 50vh;
    left: 1%;
}

.infoContact{
    position: relative;
    top: 51vh;
    right: 0%;
}

.h2C{
    font-family: 'Lora', serif;
    position: relative;
    bottom: 3vh;
    left: 22%;
    font-size: larger;
}

.h3C{
    font-size: medium;
    position: relative;
    bottom: 3vh;
    left: 1%;
}

.textContact{ 
    line-height: 160%;
    position: relative;
    bottom: 3vh;
    left: 1%;
}

/*.contactText{
    position: absolute;
    bottom: 10vh;
    left: 1%;
}

.contactpage footer{
    position: absolute;
    top: 243vh;
    left: 2%;
}

/*make every to the top on phone fixed
.topContact{
    position: absolute;
    top: 257vh;
    left: 2%;
}*/

.hotelImg{
    width: 100%;
    position: absolute;
    top: 18vh;
    left: 0%;
}

.contactText{
    position: relative;
    bottom: 0vh;
    left: 1%;
}

.contactpage footer{
    position: relative;
    top: 49vh;
    left: 2%;
}

/*make every to the top on phone fixed*/
.topContact{
    position: relative;
    top: 48vh;
    left: 2%;
}


/*Desktop*/
@media screen and (min-width: 480px){

    /*Homepage*/
    .OtiumLogo {
        width: 15%;
        position: absolute;
        top: 1vh;
        right: 85%;
    }

    .lobbyImg{
        position: relative;
        bottom: 55vh;
        right: 0%;
    }

    .homepage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
        
    }
    
    .homepage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .welcome{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 40%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    
    .imgStartsida{
        width: 50%;
        position: relative;
        top: 127vh;
        left: 49%;
    }

    .menuNav {
        display: none;
    }
    
    .h2B{
        font-family: 'Lora', serif;
        position: relative;
        top: 126vh;
        right: -18%;
    }

    .h3A{
        position: relative;
        top: 128vh;
        left: 1.5%;
    }
    
    .textDec{
        width: 45%;
        line-height: 180%;
        position: absolute;
        top: 145vh;
        right: 53%;
    }

    .footerHome{
        position: relative;
        top: 9vh;
        left: 1%;
    }
    
    .topHome{
        position: relative;
        top: 6vh;
        left: 1%;
    }

    .roomNav{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .homepageC{
        position: absolute;
        left:0%;
        bottom:4vh;
    }

    .contactNav{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .homepage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }

    /*Roompage*/
    .OtiumLogoRoom {
        width: 15%;
        position: absolute;
        top: 2vh;
        left: 0%;
    }


    .roompage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
    }
    
    .roompage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .roomsH1{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 40%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    .roomNavRoom{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .contactNavRoom{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .roompage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }


    .allRooms{
        position: relative;
        top: 125vh;
        right: 0%;
    }

    .video{
        width: 100%;
        position: relative;
        top: -355vh;
        right: 0%;
    }

    #rubrikRoom{
        font-family: 'Lora', serif;
        position: relative;
        left: 45%;
        font-size:larger;
    }

    .img1{
        width: 60%;
    }
    
    .img2{
        width: 60%;
    }
    
    .img3{
        width: 60%;
    }
    
    .img4{
        width: 60%;
    }

    .roomTextC{
        position: absolute;
        bottom: 4vh;
        left: 0%;
    }
    
    .roompage footer{
        position: absolute;
        top: 500vh;
        left: 1%;
    }
    
    .topRoom{
        position: absolute;
        top: 507vh;
        left: 1%;
    }
    

    /*Contactpage*/
    .OtiumLogoContact {
        width: 15%;
        position: absolute;
        top: 2vh;
        left: 0%;
    }


    .contactpage li {
        list-style: none;
        display: inline-block;
        line-height: 100px;
        position: relative;
        top: 30vh;
    }
    
    .contactpage li a {
        text-decoration: none;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(12, 2, 2);
        padding: 0 20px;
    }
    
    .contactH1{
        font-size: x-large;
        position: relative;
        top: 4vh;
        left: 40%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    .roomNavContact{
        position: absolute;
        left:55%;
        top: 9%;
    }

    .contactNavContact{
        position: absolute;
        left:10vh;
        top:9%;
    }

    .contactpage nav{
        position: relative;
        bottom: 37vh;
        left: 78%;
    }

    .h2C{
       font-family: 'Lora', serif;
        font-size:larger;
        position: relative;
        top: 15%;
        left: 42%;
    }

    .textContact{
        width: 45%;
    }

    .infoContact{
        position: relative;
        top: 130vh;
        right: 1%;
    }

    .contact{
        position: relative;
        top: 128vh;
        right: 2%;
    }

    .contactText{
        position: absolute;
        bottom: 8vh;
        left: 0%;
    }

    .contactpage footer{
        position: absolute;
        top: 290vh;
        left: 1%;
    }
    
    .topContact{
        position: absolute;
        top: 303vh;
        left: 1%;
    }
    
    
}